<%- include('partials/header') %>

<div class="container">
    <h2 style="text-align: center;">स्वयंसेवक के रूप में हमारे साथ जुड़ने के लिए धन्यवाद।</h2>
    <a class="btn btn-primary" role="button" href="https://saftefy-from-stray-dogs.vercel.app/">Home</a>
</div>
<%- include('partials/footer') %>