<%- include('partials/header') %>
<div class="alert alert-danger" role="alert">
  You must be logged in to submit a complaint.
</div>
<a class="btn btn-primary" role="button" href="http://localhost:3000/">Home</a>

<%- include('partials/footer') %>