<%- include('partials/header') %>
<div class="alert alert-danger" role="alert">
  You must be logged in to submit a complaint.
</div>
<a class="btn btn-primary" role="button" href="https://saftefy-from-stray-dogs.vercel.app/contact-us">Home</a>

<%- include('partials/footer') %>